body, table, div, p, span {
    margin: 0 0 0 0;
}

body {
    font-family: "Optima";
}

#header > h1 {
    font-family: Cochin;
    font-size: 41pt;
    margin: 4pt 4pt 4pt 4pt;
    float: left;
}

#header {
    padding: 1pt;
    border-bottom: 3px solid #323232;
}

#header > #header_sideframe {
    float: right;
    font-size: 8pt;
    padding: 3pt;
}

#current_game {
    background: #290f0a;
    border-bottom: 2px solid #4D2513;
}

.clears {
    clear: both;
}

#cg_label {
    font-size: 17pt;
    text-align: right;
    border-right: 2px solid #4d2513;
    float: left;
    padding-top: 13pt;
    padding-bottom: 13pt;
    padding-right: 5pt;
    color: #663219;
}

.score_widget {
    float: left;
}

.cg_widget_label {
    font-size: 40pt;
    margin-left: 5pt;
    border-right: 2px solid #4D2513;
    padding-right: 4pt;
}

.cg_widget_top_bar {
    height: 19pt;
    font-size: 17pt;
    border-bottom: 2px solid #4D2513;
    border-right: 2px solid #4D2513;
    padding-right: 5pt;
    padding-left: 5pt;
}

.cg_widgets {
    color: #DD9976;
    float: left;
    border-right: 2px solid #4D2513;
}

.player_order {
    float: left;
    border-right: 2px solid #4D2513;
    padding-right: 5pt;
}

.score_label {
    float: left;
}

.player_name {
    float: left;
    padding-left: 5pt;
}

.player_direction {
    float: right;
    font-weight: bold;
    font-size: 12pt;
}

.player_score_widget {
    width: 180px;
}

.team_bid {
    background: #622418;
}

#broken_spades_notif {
    text-align: center;
    font-size: 54pt;
    border-right: none;
    float: none;
}

.broken_spades_notif_broken {
    color: #DD9976;
}

.broken_spades_notif_notbroken {
    color: #4D2513;
}

.team_score_widget {
    width: 140px;
}

.player_bid {
    font-size: 40pt;
    text-align: center;
    border-right: 2px solid #4D2513;
}

#scoreboard_summary {
    float: right;
    width: 29%; 
    border-left: 2px solid #4D2513;
    height: 100%;
}

#main_scoreboard {
    float: left;
    width: 70%;
}

#score_summ_scwidget {
    padding-bottom: 14pt;
    padding-top: 14pt;
    background: #DD9976;
}

.score_summ_section_title {
    background: #290f0a;
    padding: 4pt;
    border-bottom: 2px solid #4D2513;
    color: #DD9976;
}

.bags_display {
    font-size: 14pt;
    padding-bottom: 5pt;
    margin-top: -9pt;
    font-weight: normal;
}

.score_summ {
    float: left;
    width: 50%;
}

.score_summ_title {
    font-size: 14pt;
    text-align: right;
}

.score_summ_score {
    font-size: 60pt;
    font-weight: bold;
    text-align: right;
}

.score_summ_score, .score_summ_title, .score_summ_players {
    padding-right: 10pt;
    padding-left: 10pt;
    border-right: 1px solid #000000;
}

#ew_score_summ_title, #ew_score_summ_score, #ew_score_summ_players {
    text-align: left;
    border-left: 1px solid #000000;
    border-right: none;
}

.score_summ_players {
    text-align: right;
}

#game_rules > ul {
    margin-left: 0pt;
    padding-left: 0pt;
}

.key_ref {
    border: 2px solid #000000;
    border-radius: 5px;
    float: left;
    width: 90px;
    height: 90px;
    margin: 2pt;
}

.key_ref_key {
    font-size: 51pt;
    margin-top: -5pt;
    font-weight: bold;
    text-align: center;
}

.key_ref_desc {
    font-size: 11pt;
    margin-top: -7pt;
    text-align: center;
}

